/* src/components/PersonalInfo.css */
.personal-info {
    text-align: center;
    margin: 20px;}
  
  .personal-info h1 {
    font-size: 2.5em;
    color: #3a2f4d;}
  
  .personal-info p {
    font-size: 1.2em;
    color: #464d6d;}
  